body {
    background-color: #f2f2f2;
}

.box {
    max-width: 450px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}