.article-category {
    display: inline-block;
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    background-color: #247a2d;
}

header {
    text-align: center;
    color: white;
    background-color: #247a2d;
    font-size: 30px;
}

h1 {
    text-align: center;
}

.article-body {
    line-height: 1.6;
    font-size: 18px;
    color: white;
    background-color: #247a2d;
    margin: 0;
}

.article-meta {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    background-color: #247a2d;
}

.article-content {
    color: white;
}


.article-full-content {
    color: white;
    background-color: #247a2d;
    line-height: 1.8;
    font-size: 18px;
    margin-top: 2rem;
}

.article-full-content p {
    color: white;
    background-color: #247a2d;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 1.2rem;
}

.article-title {
    color: white;
    background-color: #247a2d;
}

html {
    background-color: #247a2d;
}

body {
    background-color: #247a2d;
    max-width: 1500px;
    margin: 0 auto;
   padding: 15px;
}

.article-card {
    background-color: #247a2d;
}

hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin: 2rem 0;
}